# Ignore node_modules folder
node_modules/

# Ignore npm debug files
npm-debug.log
yarn-error.log

# Ignore environment variables
.env

# Ignore build files (if applicable)
dist/
build/

# Ignore package-lock.json (optional, if you use yarn instead of npm)
package-lock.json
yarn.lock
"node_modules/" 
"node_modules/" 
